@import 'loop.scss';
// margin 步长
$margin-size-base: 4;

// 最大生成
$margin-size-max: 10;

// padding步长
$padding-size-base: 4;

// 最大生成
$padding-size-max: 10;

@mixin distance() {
  // 生成margin
  @include loop (m, margin, 1, $margin-size-base, $margin-size-max);
  @include loop (mt, margin-top, 1, $margin-size-base, $margin-size-max);
  @include loop (mr, margin-right, 1, $margin-size-base, $margin-size-max);
  @include loop (mb, margin-bottom, 1, $margin-size-base, $margin-size-max);
  @include loop (ml, margin-left, 1, $margin-size-base, $margin-size-max);
  @include loop (my, margin, 1, $margin-size-base, $margin-size-max, y);
  @include loop (mx, margin, 1, $margin-size-base, $margin-size-max, x);
  @include loop (mx-auto, margin, 1, $padding-size-base, $padding-size-max, autoX);
  @include loop (my-auto, margin, 1, $padding-size-base, $padding-size-max, autoY);
  @include loop (m-auto, margin, 1, $padding-size-base, $padding-size-max, auto);

  // 生成padding
  @include loop (p, padding, 1, $padding-size-base, $padding-size-max);
  @include loop (pt, padding-top, 1, $padding-size-base, $padding-size-max);
  @include loop (pr, padding-right, 1, $padding-size-base, $padding-size-max);
  @include loop (pb, padding-bottom, 1, $padding-size-base, $padding-size-max);
  @include loop (pl, padding-left, 1, $padding-size-base, $padding-size-max);
  @include loop (py, padding, 1, $padding-size-base, $padding-size-max, y);
  @include loop (px, padding, 1, $padding-size-base, $padding-size-max, x);
  @include loop (px-auto, padding, 1, $padding-size-base, $padding-size-max, autoX);
  @include loop (py-auto, padding, 1, $padding-size-base, $padding-size-max, autoY);
  @include loop (p-auto, padding, 1, $padding-size-base, $padding-size-max, auto);
}
